/* body{
    background: #000;
    
} */

.custom-scrollbar {
    overflow-x: scroll; /* Enable hidden scrolling */
    scrollbar-width: none; /* Hide default scrollbar */ /* Optional */
  
    /* Custom scrollbar styling (adjust as needed) */
    &::-webkit-scrollbar {
      width: 8px; /* Scrollbar width */
      height: 8px; /* Optional: Scrollbar height */
    }
  
    &::-webkit-scrollbar-track {
      background: #f1f1f1; /* Track background color */
    }
  
    &::-webkit-scrollbar-thumb {
      background: #888; /* Thumb background color */
      border-radius: 10px; /* Optional: Rounded corners */
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: #666; /* Thumb hover color */
    }
  }